* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    width: 100vw;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
} 
body {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
}